<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.scm.scm2000.entities.Pasien" />
		<mapping class="com.scm.scm2000.entities.Agama" />
		<mapping class="com.scm.scm2000.entities.AgamaM" />
		<mapping class="com.scm.scm2000.entities.AgamaMId" />
		<mapping class="com.scm.scm2000.entities.Alamat" />
		<mapping class="com.scm.scm2000.entities.AlatKesehatan" />
		<mapping class="com.scm.scm2000.entities.Alergi" />
		<mapping class="com.scm.scm2000.entities.AntrianPasienRegistrasi" />
		<mapping class="com.scm.scm2000.entities.AntrianPasienDiPeriksa" />
		<mapping class="com.scm.scm2000.entities.AntrianPasienRegistrasiDetail" />
		<mapping class="com.scm.scm2000.entities.AsalAnggaran" />
		<mapping class="com.scm.scm2000.entities.AsalPeserta" />
		<mapping class="com.scm.scm2000.entities.AsalProduk" />
		<mapping class="com.scm.scm2000.entities.AsalRujukan" />
		<mapping class="com.scm.scm2000.entities.AsKepIntervensi" />
		<mapping class="com.scm.scm2000.entities.AsKepJenisKajian" />
		<mapping class="com.scm.scm2000.entities.AsKepKajian" />
		<mapping class="com.scm.scm2000.entities.AsKepKategoryKajian" />
		<mapping class="com.scm.scm2000.entities.AsKepRasionalI" />
		<mapping class="com.scm.scm2000.entities.AsKepTujuan" />
		<mapping class="com.scm.scm2000.entities.AsuransiPasien" />
		<mapping class="com.scm.scm2000.entities.AsuransiPasienBerlaku" />
		<mapping class="com.scm.scm2000.entities.BahanProduk" />
		<mapping class="com.scm.scm2000.entities.BahanSample" />
		<mapping class="com.scm.scm2000.entities.BentukProduk" />
		<mapping class="com.scm.scm2000.entities.CaraBayar" />
		<mapping class="com.scm.scm2000.entities.CaraLahirBayi" />
		<mapping class="com.scm.scm2000.entities.CaraMasuk" />
		<mapping class="com.scm.scm2000.entities.CatatanPasien" />
		<mapping class="com.scm.scm2000.entities.ChartOfAccount" />
		<mapping class="com.scm.scm2000.entities.Departemen" />
		<mapping class="com.scm.scm2000.entities.DesaKelurahan" />
		<mapping class="com.scm.scm2000.entities.DetailAsalRujukan" />
		<mapping class="com.scm.scm2000.entities.DetailGolonganProduk" />
		<mapping class="com.scm.scm2000.entities.DetailJenisProduk" />
		<mapping class="com.scm.scm2000.entities.DetailKamar" />
		<mapping class="com.scm.scm2000.entities.DetailKategoryPegawai" />
		<mapping class="com.scm.scm2000.entities.DetailKelompokPegawai" />
		<mapping class="com.scm.scm2000.entities.Diagnosa" />
		<mapping class="com.scm.scm2000.entities.DiagnosaKeperawatan" />
		<mapping class="com.scm.scm2000.entities.DiagnosaTindakan" />
		<mapping class="com.scm.scm2000.entities.DiputuskanDetail" />
		<mapping class="com.scm.scm2000.entities.Diputuskan" />
		<mapping class="com.scm.scm2000.entities.Dokumen" />
		<mapping class="com.scm.scm2000.entities.Eselon" />
		<mapping class="com.scm.scm2000.entities.EventBayi" />
		<mapping class="com.scm.scm2000.entities.FungsiProduk" />
		<mapping class="com.scm.scm2000.entities.GeneralDetailJenisProduk" />
		<mapping class="com.scm.scm2000.entities.GeneralJenisProduk" />
		<mapping class="com.scm.scm2000.entities.GeneralKelompokProduk" />
		<mapping class="com.scm.scm2000.entities.GeneralProduk" />
		<mapping class="com.scm.scm2000.entities.GolonganAsuransi" />
		<mapping class="com.scm.scm2000.entities.GolonganDarah" />
		<mapping class="com.scm.scm2000.entities.GolonganPegawai" />
		<mapping class="com.scm.scm2000.entities.GolonganProduk" />
		<mapping class="com.scm.scm2000.entities.GroupPasien" />
		<mapping class="com.scm.scm2000.entities.HargaNettoDiscPasienPulang" />
		<mapping class="com.scm.scm2000.entities.HargaNettoProdukByKelas" />
		<mapping class="com.scm.scm2000.entities.HargaNettoProdukByKelasD" />
		<mapping class="com.scm.scm2000.entities.HargaNettoProdukCitoD" />
		<mapping class="com.scm.scm2000.entities.HargaPaketPenjamin" />
		<mapping class="com.scm.scm2000.entities.HargaPaketPenjaminLuarPaket" />
		<mapping class="com.scm.scm2000.entities.Hari" />
		<mapping class="com.scm.scm2000.entities.HariLibur" />
		<mapping class="com.scm.scm2000.entities.HistoryLoginModulAplikasi" />
		<mapping class="com.scm.scm2000.entities.HistoryLoginUser" />
		<mapping class="com.scm.scm2000.entities.HubunganKeluarga" />
		<mapping class="com.scm.scm2000.entities.HubunganPesertaAsuransi" />
		<mapping class="com.scm.scm2000.entities.Imunisasi" />
		<mapping class="com.scm.scm2000.entities.IndikatorAccount" />
		<mapping class="com.scm.scm2000.entities.InfeksiNosokomial" />
		<mapping class="com.scm.scm2000.entities.Jabatan" />
		<mapping class="com.scm.scm2000.entities.JenisAccount" />
		<mapping class="com.scm.scm2000.entities.JenisAlamat" />
		<mapping class="com.scm.scm2000.entities.JenisAlatKesehatan" />
		<mapping class="com.scm.scm2000.entities.JenisAnggaran" />
		<mapping class="com.scm.scm2000.entities.JenisAset" />
		<mapping class="com.scm.scm2000.entities.JenisDiagnosa" />
		<mapping class="com.scm.scm2000.entities.JenisDiet" />
		<mapping class="com.scm.scm2000.entities.JenisDokumen" />
		<mapping class="com.scm.scm2000.entities.JenisHukuman" />
		<mapping class="com.scm.scm2000.entities.JenisInfeksiNosokomial" />
		<mapping class="com.scm.scm2000.entities.JenisJabatan" />
		<mapping class="com.scm.scm2000.entities.JenisJurnal" />
		<mapping class="com.scm.scm2000.entities.JenisKartu" />
		<mapping class="com.scm.scm2000.entities.JenisKartuDetail" />
		<mapping class="com.scm.scm2000.entities.JenisKelamin" />
		<mapping class="com.scm.scm2000.entities.JenisKemasan" />
		<mapping class="com.scm.scm2000.entities.JenisKeputusan" />
		<mapping class="com.scm.scm2000.entities.JenisKomponenHarga" />
		<mapping class="com.scm.scm2000.entities.JenisKomponenIndex" />
		<mapping class="com.scm.scm2000.entities.JenisKondisiPasien" />
		<mapping class="com.scm.scm2000.entities.JenisKontrasepsi" />
		<mapping class="com.scm.scm2000.entities.JenisObjekModulAplikasi" />
		<mapping class="com.scm.scm2000.entities.JenisOrder" />
		<mapping class="com.scm.scm2000.entities.JenisOrganisasi" />
		<mapping class="com.scm.scm2000.entities.JenisPajak" />
		<mapping class="com.scm.scm2000.entities.JenisPaket" />
		<mapping class="com.scm.scm2000.entities.JenisPegawai" />
		<mapping class="com.scm.scm2000.entities.JenisPelayananProfile" />
		<mapping class="com.scm.scm2000.entities.JenisPendidikan" />
		<mapping class="com.scm.scm2000.entities.JenisPengantarPasien" />
		<mapping class="com.scm.scm2000.entities.JenisPerawatan" />
		<mapping class="com.scm.scm2000.entities.JenisPeriksaPenunjang" />
		<mapping class="com.scm.scm2000.entities.JenisPetugasPelaksana" />
		<mapping class="com.scm.scm2000.entities.JenisProduk" />
		<mapping class="com.scm.scm2000.entities.JenisProfile" />
		<mapping class="com.scm.scm2000.entities.JenisRange" />
		<mapping class="com.scm.scm2000.entities.JenisRekanan" />
		<mapping class="com.scm.scm2000.entities.JenisResep" />
		<mapping class="com.scm.scm2000.entities.JenisSatuanKerja" />
		<mapping class="com.scm.scm2000.entities.JenisTarif" />
		<mapping class="com.scm.scm2000.entities.JenisTempat" />
		<mapping class="com.scm.scm2000.entities.JenisTindakanMedis" />
		<mapping class="com.scm.scm2000.entities.JenisTransaksi" />
		<mapping class="com.scm.scm2000.entities.JenisWaktu" />
		<mapping class="com.scm.scm2000.entities.Kalender" />
		<mapping class="com.scm.scm2000.entities.Kamar" />
		<mapping class="com.scm.scm2000.entities.KasusPenyakit" />
		<mapping class="com.scm.scm2000.entities.KategoryAccount" />
		<mapping class="com.scm.scm2000.entities.KategoryDiagnosa" />
		<mapping class="com.scm.scm2000.entities.KategoryDiet" />
		<mapping class="com.scm.scm2000.entities.KategoryDokumen" />
		<mapping class="com.scm.scm2000.entities.KategoryPegawai" />
		<mapping class="com.scm.scm2000.entities.KategoryProduk" />
		<mapping class="com.scm.scm2000.entities.KeadaanLahirBayi" />
		<mapping class="com.scm.scm2000.entities.KeadaanTaliPusat" />
		<mapping class="com.scm.scm2000.entities.KeadaanUmum" />
		<mapping class="com.scm.scm2000.entities.Kecamatan" />
		<mapping class="com.scm.scm2000.entities.KelainanPasienPasca" />
		<mapping class="com.scm.scm2000.entities.Kelas" />
		<mapping class="com.scm.scm2000.entities.KelasM" />
		<mapping class="com.scm.scm2000.entities.KelompokAset" />
		<mapping class="com.scm.scm2000.entities.KelompokPasien" />
		<mapping class="com.scm.scm2000.entities.KelompokPegawai" />
		<mapping class="com.scm.scm2000.entities.KelompokPelayanan" />
		<mapping class="com.scm.scm2000.entities.KelompokPemilikProfile" />
		<mapping class="com.scm.scm2000.entities.KelompokPenyebabDiagnosa" />
		<mapping class="com.scm.scm2000.entities.KelompokProduk" />
		<mapping class="com.scm.scm2000.entities.KelompokTindakanMedis" />
		<mapping class="com.scm.scm2000.entities.KelompokTransaksi" />
		<mapping class="com.scm.scm2000.entities.KelompokUmur" />
		<mapping class="com.scm.scm2000.entities.KelompokUser" />
		<mapping class="com.scm.scm2000.entities.KeteranganDiet" />
		<mapping class="com.scm.scm2000.entities.KetunaanKelainan" />
		<mapping class="com.scm.scm2000.entities.KomponenEvaluasi" />
		<mapping class="com.scm.scm2000.entities.KomponenHarga" />
		<mapping class="com.scm.scm2000.entities.KomponenHargaDetailR" />
		<mapping class="com.scm.scm2000.entities.KomponenHargaR" />
		<mapping class="com.scm.scm2000.entities.KomponenIndex" />
		<mapping class="com.scm.scm2000.entities.KomponenIndexDetail" />
		<mapping class="com.scm.scm2000.entities.KomponenIndexDetailRange" />
		<mapping class="com.scm.scm2000.entities.KomponenKlinis" />
		<mapping class="com.scm.scm2000.entities.KomponenKlinisHasil" />
		<mapping class="com.scm.scm2000.entities.KomponenPemeriksaan" />
		<mapping class="com.scm.scm2000.entities.KomponenPemeriksaanAlkes" />
		<mapping class="com.scm.scm2000.entities.KomponenPemeriksaanRangeNilai" />
		<mapping class="com.scm.scm2000.entities.KomponenPemeriksaanRangeNilaiK" />
		<mapping class="com.scm.scm2000.entities.KomponenScore" />
		<mapping class="com.scm.scm2000.entities.KomponenScoreNilaiNormal" />
		<mapping class="com.scm.scm2000.entities.KondisiPasien" />
		<mapping class="com.scm.scm2000.entities.KondisiProduk" />
		<mapping class="com.scm.scm2000.entities.KotaKabupaten" />
		<mapping class="com.scm.scm2000.entities.KualifikasiJurusan" />
		<mapping class="com.scm.scm2000.entities.KualitasHasil" />
		<mapping class="com.scm.scm2000.entities.KuantitasLahirBayi" />
		<mapping class="com.scm.scm2000.entities.LetakJaninBayi" />
		<mapping class="com.scm.scm2000.entities.LevelProduk" />
		<mapping class="com.scm.scm2000.entities.LoginUser" />
		<mapping class="com.scm.scm2000.entities.Lokasi" />
		<mapping class="com.scm.scm2000.entities.MakananBayi" />
		<mapping class="com.scm.scm2000.entities.MapAccountToProdukPelayanan" />
		<mapping class="com.scm.scm2000.entities.MapAngkaToBulan" />
		<mapping class="com.scm.scm2000.entities.MapAngkaToHari" />
		<mapping class="com.scm.scm2000.entities.MapAngkaToRomawi" />
		<mapping class="com.scm.scm2000.entities.MapAsKepIntervensiToProduk" />
		<mapping class="com.scm.scm2000.entities.MapAsKepIntervensiToRasional" />
		<mapping class="com.scm.scm2000.entities.MapDiagnosaKepToAsKepIntervensi" />
		<mapping class="com.scm.scm2000.entities.MapDiagnosaKepToAsKepKajian" />
		<mapping class="com.scm.scm2000.entities.MapDiagnosaKepToAsKepTujuan" />
		<mapping class="com.scm.scm2000.entities.MapGolonganAsuransiToKelas" />
		<mapping class="com.scm.scm2000.entities.MapJenisPetugasPToJenisPegawai" />
		<mapping class="com.scm.scm2000.entities.MapJenisPetugasPToProduk" />
		<mapping class="com.scm.scm2000.entities.MapKalenderToHariLibur" />
		<mapping class="com.scm.scm2000.entities.MapKasusPenyakitToDiagnosa" />
		<mapping class="com.scm.scm2000.entities.MapKasusPenyakitToPegawai" />
		<mapping class="com.scm.scm2000.entities.MapKelompokPasienToPenjamin" />
		<mapping class="com.scm.scm2000.entities.MapKomponenKlinisToHasil" />
		<mapping class="com.scm.scm2000.entities.MapLoginUserToRuangan" />
		<mapping class="com.scm.scm2000.entities.MapObjekModulToDepartemen" />
		<mapping class="com.scm.scm2000.entities.MapObjekModulToKelompokUser" />
		<mapping class="com.scm.scm2000.entities.MapPaketPenjaminToProduk" />
		<mapping class="com.scm.scm2000.entities.MapPaketToProduk" />
		<mapping class="com.scm.scm2000.entities.MapPegawaiToModulAplikasi" />
		<mapping class="com.scm.scm2000.entities.MapPegawaiToObjekPajak" />
		<mapping class="com.scm.scm2000.entities.MapPenjaminToDokumenRegistrasi" />
		<mapping class="com.scm.scm2000.entities.MapRuanganToDetailJenisProduk" />
		<mapping class="com.scm.scm2000.entities.MapRuanganToKasusPenyakit" />
		<mapping class="com.scm.scm2000.entities.MapRuanganToKelas" />
		<mapping class="com.scm.scm2000.entities.MapRuanganToKelasM" />
		<mapping class="com.scm.scm2000.entities.MapRuanganToKelasMId" />
		<mapping class="com.scm.scm2000.entities.MapRuanganToProduk" />
		<mapping class="com.scm.scm2000.entities.MapTindakanMedisToKualitasHasil" />
		<mapping class="com.scm.scm2000.entities.MataUang" />
		<mapping class="com.scm.scm2000.entities.MenuDietBahan" />
		<mapping class="com.scm.scm2000.entities.MenuDietCaraMasak" />
		<mapping class="com.scm.scm2000.entities.MerkProduk" />
		<mapping class="com.scm.scm2000.entities.MetodeDelivery" />
		<mapping class="com.scm.scm2000.entities.MetodePenyusutan" />
		<mapping class="com.scm.scm2000.entities.MetodologiBayiTabung" />
		<mapping class="com.scm.scm2000.entities.ModelPelayanan" />
		<mapping class="com.scm.scm2000.entities.ModulAplikasi" />
		<mapping class="com.scm.scm2000.entities.MorfologiNeoplasma" />
		<mapping class="com.scm.scm2000.entities.Negara" />
		<mapping class="com.scm.scm2000.entities.ObjekModulAplikasi" />
		<mapping class="com.scm.scm2000.entities.ObjekPajak" />
		<mapping class="com.scm.scm2000.entities.Pajak" />
		<mapping class="com.scm.scm2000.entities.Pangkat" />
		<mapping class="com.scm.scm2000.entities.Paket" />
		<mapping class="com.scm.scm2000.entities.Pasien" />
		<mapping class="com.scm.scm2000.entities.PasienDaftar" />
		<mapping class="com.scm.scm2000.entities.Pegawai" />
		<mapping class="com.scm.scm2000.entities.PegawaiJadwalKerja" />
		<mapping class="com.scm.scm2000.entities.PegawaiJadwalKerjaDokter" />
		<mapping class="com.scm.scm2000.entities.PegawaiJadwalKerjaDokterD" />
		<mapping class="com.scm.scm2000.entities.PegawaiSKGaji" />
		<mapping class="com.scm.scm2000.entities.Pekerjaan" />
		<mapping class="com.scm.scm2000.entities.PelayananProfile" />
		<mapping class="com.scm.scm2000.entities.PemeriksaPasien" />
		<mapping class="com.scm.scm2000.entities.PemilikProfile" />
		<mapping class="com.scm.scm2000.entities.PenanggungJawabPasien" />
		<mapping class="com.scm.scm2000.entities.Pendidikan" />
		<mapping class="com.scm.scm2000.entities.PenghasilanTidakKenaPajak" />
		<mapping class="com.scm.scm2000.entities.PenyebabDiagnosa" />
		<mapping class="com.scm.scm2000.entities.PenyebabInfeksiNosokomial" />
		<mapping class="com.scm.scm2000.entities.PenyebabKematian" />
		<mapping class="com.scm.scm2000.entities.PersenHargaJualProduk" />
		<mapping class="com.scm.scm2000.entities.PersenHargaJualProdukD" />
		<mapping class="com.scm.scm2000.entities.PersenTanggunganPenjamin" />
		<mapping class="com.scm.scm2000.entities.PersenTanggunganPenjaminD" />
		<mapping class="com.scm.scm2000.entities.PosisiRahim" />
		<mapping class="com.scm.scm2000.entities.Printer" />
		<mapping class="com.scm.scm2000.entities.Produk" />
		<mapping class="com.scm.scm2000.entities.ProdukFormulaProduksi" />
		<mapping class="com.scm.scm2000.entities.ProdukTidakDiTanggung" />
		<mapping class="com.scm.scm2000.entities.ProdusenProduk" />
		<mapping class="com.scm.scm2000.entities.ProdukDetailLaboratorium" />
		<mapping class="com.scm.scm2000.entities.Profile" />
		<mapping class="com.scm.scm2000.entities.ProfileM" />
		<mapping class="com.scm.scm2000.entities.Propinsi" />
		<mapping class="com.scm.scm2000.entities.ProsesLahirBayi" />
		<mapping class="com.scm.scm2000.entities.PurchasedTest" />
		<mapping class="com.scm.scm2000.entities.PurchaseParent" />
		<mapping class="com.scm.scm2000.entities.Range" />
		<mapping class="com.scm.scm2000.entities.RegistrasiPelayananPasien" />
		<mapping class="com.scm.scm2000.entities.Rekanan" />
		<mapping class="com.scm.scm2000.entities.RekananDetail" />
		<mapping class="com.scm.scm2000.entities.Ruangan" />
		<mapping class="com.scm.scm2000.entities.RuanganM" />
		<mapping class="com.scm.scm2000.entities.SatuanAnggaran" />
		<mapping class="com.scm.scm2000.entities.SatuanBesar" />
		<mapping class="com.scm.scm2000.entities.SatuanHasil" />
		<mapping class="com.scm.scm2000.entities.SatuanKecil" />
		<mapping class="com.scm.scm2000.entities.SatuanKerja" />
		<mapping class="com.scm.scm2000.entities.SatuanStandar" />
		<mapping class="com.scm.scm2000.entities.SatuanWaktu" />
		<mapping class="com.scm.scm2000.entities.SettingDataFixed" />
		<mapping class="com.scm.scm2000.entities.ShiftKerja" />
		<mapping class="com.scm.scm2000.entities.ShiftKerjaFormulasi" />
		<mapping class="com.scm.scm2000.entities.SiklusPengobatanBayiTabung" />
		<mapping class="com.scm.scm2000.entities.StatusAbsensi" />
		<mapping class="com.scm.scm2000.entities.StatusAccount" />
		<mapping class="com.scm.scm2000.entities.StatusAkreditasi" />
		<mapping class="com.scm.scm2000.entities.StatusBed" />
		<mapping class="com.scm.scm2000.entities.StatusHasil" />
		<mapping class="com.scm.scm2000.entities.StatusKeluar" />
		<mapping class="com.scm.scm2000.entities.StatusKontras" />
		<mapping class="com.scm.scm2000.entities.StatusMinumAsi" />
		<mapping class="com.scm.scm2000.entities.StatusPegawai" />
		<mapping class="com.scm.scm2000.entities.StatusPerkawinan" />
		<mapping class="com.scm.scm2000.entities.StatusProduk" />
		<mapping class="com.scm.scm2000.entities.StatusPulang" />
		<mapping class="com.scm.scm2000.entities.StatusSuratIjin" />
		<mapping class="com.scm.scm2000.entities.StokProdukGlobal" />
		<mapping class="com.scm.scm2000.entities.StrukturAccount" />
		<mapping class="com.scm.scm2000.entities.StrukturKategoryAccount" />
		<mapping class="com.scm.scm2000.entities.StrukturNoCM" />
		<mapping class="com.scm.scm2000.entities.StrukRetur" />
		<mapping class="com.scm.scm2000.entities.StrukOrder" />
		<mapping class="com.scm.scm2000.entities.Suku" />
		<mapping class="com.scm.scm2000.entities.TahapanAkreditasi" />
		<mapping class="com.scm.scm2000.entities.TandaGejala" />
		<mapping class="com.scm.scm2000.entities.TempatLahirBayi" />
		<mapping class="com.scm.scm2000.entities.TempatTidur" />
		<mapping class="com.scm.scm2000.entities.TindakanMedis" />
		<mapping class="com.scm.scm2000.entities.TitlePasien" />
		<mapping class="com.scm.scm2000.entities.TitlePegawai" />
		<mapping class="com.scm.scm2000.entities.TransportasiPasien" />
		<mapping class="com.scm.scm2000.entities.Triase" />
		<mapping class="com.scm.scm2000.entities.TypePegawai" />
		<mapping class="com.scm.scm2000.entities.TypeProduk" />
		<mapping class="com.scm.scm2000.entities.UnitBagian" />
		<mapping class="com.scm.scm2000.entities.UnitKerja" />
		<mapping class="com.scm.scm2000.entities.UnitLaporan" />
		<mapping class="com.scm.scm2000.entities.WarnaProduk" />
		<mapping class="com.scm.scm2000.entities.Kebangsaan" />
		<mapping class="com.scm.scm2000.entities.StatusPerkawinanPegawai" />
		<mapping class="com.scm.scm2000.entities.DetailObat" />
		<mapping class="com.scm.scm2000.entities.Generik" />
		<mapping class="com.scm.scm2000.entities.Sediaan" />
		<mapping class="com.scm.scm2000.entities.StatusBarang" />
		<mapping class="com.scm.scm2000.entities.HasilTriase" />
		<mapping class="com.scm.scm2000.entities.KategoriHasilTriase" />
		<mapping class="com.scm.scm2000.entities.ProdukDetailLaboratoriumNilaiNormal" />
		<mapping class="com.scm.scm2000.entities.DetailHasilTriase" />
		<mapping class="com.scm.scm2000.entities.PemeriksaanTriage" />
		<mapping class="com.scm.scm2000.entities.PemakaianAmbulance" />
		<mapping class="com.scm.scm2000.entities.PemakaianRuangRapat" />
		<mapping class="com.scm.scm2000.entities.Asset" />
		<mapping class="com.scm.scm2000.entities.OrderPemakaianRuangRapat" />
		<mapping class="com.scm.scm2000.entities.JenisKontruksi" />
		<mapping class="com.scm.scm2000.entities.JenisSertifikat" />
		<mapping class="com.scm.scm2000.entities.KlasifikasiTeknologi" />
		<mapping class="com.scm.scm2000.entities.KondisiAset" />
		<mapping class="com.scm.scm2000.entities.KondisiProdukAwal" />
		<mapping class="com.scm.scm2000.entities.JenisKonsumsiSet" />
		<mapping class="com.scm.scm2000.entities.KondisiProdukCurrent" />
		<mapping class="com.scm.scm2000.entities.PegawaiPengguna" />
		<mapping class="com.scm.scm2000.entities.RuanganPosisiCurrent" />
		<mapping class="com.scm.scm2000.entities.SatuanAset" />
		<mapping class="com.scm.scm2000.entities.TahunPerolehan" />
		<mapping class="com.scm.scm2000.entities.UsiaAset" />
		<mapping class="com.scm.scm2000.entities.JenisKonsumsi" />
		<mapping class="com.scm.scm2000.entities.PenambahanKebutuhanSaranaSet" />
		<mapping class="com.scm.scm2000.entities.JadwalDokter" />
		<mapping class="com.scm.scm2000.entities.JadwalPraktek" />
		<mapping class="com.scm.scm2000.entities.JadwalSupirAmbulance" />
		<mapping class="com.scm.scm2000.entities.RiwayatPenghargaan" />
		<mapping class="com.scm.scm2000.entities.InstansiPelaksana" />
		<mapping class="com.scm.scm2000.entities.JenisPenghargaan" />
		<mapping class="com.scm.scm2000.entities.TandaJasa" />
		<mapping class="com.scm.scm2000.entities.HeadAnggaran" />
		<mapping class="com.scm.scm2000.entities.KegiatanAnggaran" />
		<mapping class="com.scm.scm2000.entities.DetailAnggaran" />
		<mapping class="com.scm.scm2000.entities.DetailSpekAnggaran" />
		<mapping class="com.scm.scm2000.entities.Kegiatan" />
		<mapping class="com.scm.scm2000.entities.Pengendali" />
		<mapping class="com.scm.scm2000.entities.KemenLemb" />
		<mapping class="com.scm.scm2000.entities.Komponen" />
		<mapping class="com.scm.scm2000.entities.Output" />
		<mapping class="com.scm.scm2000.entities.PemeriksaanTriage" />
		<mapping class="com.scm.scm2000.entities.Program" />
		<mapping class="com.scm.scm2000.entities.UnitOrg" />
		<mapping class="com.scm.scm2000.entities.KegiatanDetail" />
		<mapping class="com.scm.scm2000.entities.JenisBelanja" />
		<mapping class="com.scm.scm2000.entities.JenisPengadaan" />
		<mapping class="com.scm.scm2000.entities.Profile" />
		<mapping class="com.scm.scm2000.entities.Rhesus" />
		<mapping class="com.scm.scm2000.entities.MappingPegawaiPemakaianAmbulance" />
		<mapping class="com.scm.scm2000.entities.MappingPegawaiPemakaianRuangRapat" />
		<mapping class="com.scm.scm2000.entities.DetailRup" />
		<mapping class="com.scm.scm2000.entities.DetailPengadaan" />
		<mapping class="com.scm.scm2000.entities.Pengadaan" />
		<mapping class="com.scm.scm2000.entities.KartuPengendali" />
		<mapping class="com.scm.scm2000.entities.KartuPengendaliDetail" />
		<mapping class="com.scm.scm2000.entities.PenambahanKebutuhanSarana" />
		<mapping class="com.scm.scm2000.entities.MapLoginUserToPengendali" />
		<mapping class="com.scm.scm2000.entities.OrderPelayanan" />
		<mapping class="com.scm.scm2000.entities.StrukHasilPemeriksaan" />
		<mapping class="com.scm.scm2000.entities.StrukKirim" />
		<mapping class="com.scm.scm2000.entities.StrukPelayanan" />
		<mapping class="com.scm.scm2000.entities.StrukClosing" />
		<mapping class="com.scm.scm2000.entities.StrukPlanning" />
		<mapping class="com.scm.scm2000.entities.StrukBuktiPengeluaran" />
		<mapping class="com.scm.scm2000.entities.StrukBuktiPenerimaan" />
		<mapping class="com.scm.scm2000.entities.SatuanWaktuKesling" />
		<mapping class="com.scm.scm2000.entities.PeriodeAccount" />
		<mapping class="com.scm.scm2000.entities.StrukVerifikasi" />
		<mapping class="com.scm.scm2000.entities.MetodePemeriksaanPenunjang" />
		<mapping class="com.scm.scm2000.entities.StrukPelayananDetail" />
		<mapping class="com.scm.scm2000.entities.HasilPemeriksaanPasien" />
		<mapping class="com.scm.scm2000.entities.RegistrasiAset" />
		<mapping class="com.scm.scm2000.entities.StrukResep" />
		<mapping class="com.scm.scm2000.entities.PemakaianAsuransi" />
		<mapping class="com.scm.scm2000.entities.DataAsuransi" />
		<mapping class="com.scm.scm2000.entities.StrukPelayananDPetugas" />
		<mapping class="com.scm.scm2000.entities.LimbahB3Keluar" />
		<mapping class="com.scm.scm2000.entities.ProdukDetailLaboratoriumHasil" />
		<mapping class="com.scm.scm2000.entities.JenisPermintaan" />
		<mapping class="com.scm.scm2000.entities.JadwalRencanaPemeriksaan" />
		<mapping class="com.scm.scm2000.entities.StrukKirim" />
		<mapping class="com.scm.scm2000.entities.KirimProduk" />
		<mapping class="com.scm.scm2000.entities.Perlakuan" />
		<mapping class="com.scm.scm2000.entities.StrukKonfirmasi" />
		<mapping class="com.scm.scm2000.entities.PerizinanLimbah" />
		
		<mapping class="com.scm.scm2000.entities.DokumenInternal" />
		
		<mapping class="com.scm.scm2000.entities.JenisArsip" />
		
		<mapping class="com.scm.scm2000.entities.JenisSurat" />
		
		<mapping class="com.scm.scm2000.entities.KlasifikasiArsip" />
		
		<mapping class="com.scm.scm2000.entities.SifatSurat" />
		
		
		<mapping class="com.scm.scm2000.entities.StatusBerkas" />
		
		<mapping class="com.scm.scm2000.entities.StatusYaTidak" />
		
		<mapping class="com.scm.scm2000.entities.SubKlasifikasiArsip" />
		<mapping class="com.scm.scm2000.entities.TipePengirimSurat" />
	</session-factory>
</hibernate-configuration>
